<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="AIS_Server.Properties.Settings.AISConnectionString" connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=AIS;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="AISEntities" connectionString="metadata=res://*/DAL.AIS.csdl|res://*/DAL.AIS.ssdl|res://*/DAL.AIS.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(localdb)\MSSQLLocalDB;initial catalog=AIS;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8.1" />
    </startup>
</configuration>