<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="TempConvertSoap" />
                <binding name="TempConvertServiceSoap" />
            </basicHttpBinding>
            <customBinding>
                <binding name="TempConvertSoap12">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpTransport />
                </binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint address="http://www.w3schools.com/xml/tempconvert.asmx"
                binding="basicHttpBinding" bindingConfiguration="TempConvertSoap"
                contract="TempConvertServiceReference.TempConvertSoap" name="TempConvertSoap" />
            <endpoint address="http://localhost:65481/TempConvertService.asmx"
                binding="basicHttpBinding" bindingConfiguration="TempConvertServiceSoap"
                contract="MyTempConvertServiceReference.TempConvertServiceSoap"
                name="TempConvertServiceSoap" />
        </client>
    </system.serviceModel>
</configuration>